/*CSS Reset*/
h1 #heroTitle {
  float: left;
  size: 600px;
  color: white;
}

body {
  background-color: #e5c07b;
  width: 90%;
  margin: 0 auto;
  font-family: 'Quando', serif;
}
/*Logo Animation*/
#logoBucket {
  margin-top: 50px;
  background-image: url("../../public/images/fennecbucket.png");
  background-size: contain;
  min-height: 20vh;
  width: 20vw;
  background-repeat: no-repeat;
  position: relative;
}
#logoImage {
  position: absolute;
  max-height: 15vh;
  max-width: 15vh;
  bottom: 600px;
  left: 100px;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(1, 1, 1, 1);
}
#logoImage:hover{
  bottom: 630px;
}

/*Header*/
.header{
  text-align: center;
  font-size: 42px;
}

select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*Nav Bar*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav a {
  margin: 0 3%;
  padding: 12px;
  text-decoration: none;
  border: 5px ridge #ffaa00;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}

/*The Controller Box*/

.controllerBox {
  width: 100%;
  border: 5px ridge #ffaa00;
  margin-bottom: 27px;
  overflow:auto;
  position:relative;
  clear:both;
  min-height: 40vh;
}

#controllers {
  width: 50%;
  overflow:auto;
  display:inline-block;
}

.controller-container {
  /*border: 1px solid black;*/
  display:inline-block;
  margin: 8px;
  text-align:center;
  padding:5px;
}
#letter-spacing-container, #line-height-container {
  float: right;
  clear:right;
}
/*SNIPPETS*/
#snippet-holder{
background-color: rgb(40, 44, 52);
border-left: 1px solid black;
padding: 0 24px;
display:inline-block;
position:absolute;
top:0;
right:0;
height:100%;

}
#snippet-holder div{
display:none;
}
pre{
  color: rgb(152, 195, 121);
}

/*Examples*/
.exampleBox {
  height: 60vh;
  border: 5px ridge #ffaa00;
}

/*Paragraph Example*/
.paragraph-example {
  margin-top:0;
  text-align:center;
}
.paragraph-holder {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}



/*Image*/
#supermoon{
  height: 200px;
}

.image-holder {
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*overflow: hidden;*/
}

pre {
  margin: 0;
  margin-bottom: 10px;
}


/*.codeSnippetBox {
  height: 30vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

#filter-slider {
  display:none;
}
#position-slider {
  display:none;
}
#absolute-tooltip {
  display:inline-block;
  border: 1px solid black;
  width:400px;
  height: 180px;
}
