body {
  width: 90%;
  margin: 0 auto;
}
/*Header*/
.header{
  text-align: center;
  font-size: 42px;
}

/*The Controller Box*/
.controllerBox{
  position: relative;
  height: 20vh;
  border: 1px solid black;
}
.exampleBox {
  height: 60vh;
  border: 1px solid black;
}

    /*SNIPPETS*/
  #snippet-holder{
    position: absolute;
    top:0;
    right:0;
    background-color:red;
  }


/*.codeSnippetBox {
  height: 30vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

/*Controllers*/

.controller-container {
  background-color:red;
  border: 1px solid black;
  display:inline-block;
  margin: 8px;
  text-align:center;
  padding:5px;
}

/*Nav Bar*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav a {
  margin: 0 3%;
  padding: 12px;
  text-decoration: none;
  border: 1px solid #AAAAAA;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}

/*Paragraph Example*/
.paragraph-example {
  margin-top:0;
  text-align:center;

}
.paragraph-holder {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20%;
}

/*#line-height-snippet {
  position: absolute;
  bottom: 0;
}*/
