body {
  width: 50%;
  margin: 0 auto;
}



/*Header*/
.header{
  text-align: center;
  font-size: 42px;
}

/*The Controller Box*/
.controllerBox{
  position: relative;
  background-color: red;
  height: 20vh;
}
.exampleBox {
  height: 60vh;
  background-color: green;
}
.codeSnippetBox {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 40%;
  top:0;
  right:0;
  background-color: purple;
}

/*Nav Bar*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav a {
  margin: 0 3%;
  padding: 12px;
  text-decoration: none;
  border: 1px solid #AAAAAA;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}

/*Paragraph Example*/
.paragraph-example {
  margin-top:0;
  text-align:center;

}
.paragraph-holder {
  height: 100%;
  display: flex;
  background-color: blue;
  align-items: center;
  padding: 0 30%;


}
